:root {
  --p1: #000000;
  --p2: #111111;
  --p3: #222222;
  --p4: #333333;
  --p5: #444444;
  --p6: #555555;
  --p7: #7E7E7E;
  --p8: #AAAAAA;
  --p9: #C5C5C5;
  --p10: #DCDCDC;
  --p11: #EDEDED;
  --p12: #F7F7F7;
  --c1: #820608;
  --c2: #E10B00;
  --c3: #F5F6CA;
  --c4: #FFB307;
  --c5: #064BCE;
  --f1: 1rem;
  --f2: 1.25rem;
  --f3: 1.5rem;
  --f4: 2.25rem;
}


body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: var(--p10);
}

h1,h2,h3,h4, ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.poketipos{
  display: flex;
  gap: 8px;
}
.types {
  color: var(--p2);
  text-transform: uppercase;
  border-radius: 4px;
  font-size: var(--f1);
}

.grass {
  background-color: #499356;
  padding: 6px 25px;
}

.poison {
  background-color: #B97FC9;
  padding: 6px 20px;
}

.fire {
 background-color: #FD7D24;
 padding: 6px 35px;
}

.bug {
  background-color: #729F3F;
  padding: 6px 37px;
}

.dragon {
  background: linear-gradient(#53A4CF 50%, #F16E57 50%);
  padding: 6px 18px;
}

.fairy {
  background-color: #FDB9E9;
  padding: 6px 30px;
}

.ghost {
  background-color: #7B61A3;
  padding: 6px 25px;
}

.ground {
  background: linear-gradient(#F7DE3F 50%, #CDB841 50%);
  padding: 6px 18px;
}

.normal {
  background-color: #A4ACAF;
  padding: 6px 20px;
}

.psychic {
  background-color: #F366B9;
  padding: 6px 25px;
}

.steel {
  background-color: #9EB7B8;
  padding: 6px 28px;
}

.dark {
  background-color: #707070;
  padding: 6px 32px;
}

.electric {
  background-color: #EED535;
  padding: 6px 20px;
}

.fighting {
  background-color: #D56723;
  padding: 6px 18px;
}

.flying {
  background: linear-gradient(#3DC7EF 50%, #BDB9B8 50%);
  padding: 6px 25px;
}

.ice {
  background-color: #51C4E7;
  padding: 6px 40px;
}

.rock {
  background-color: #A38C21;
  padding: 6px 30px;
}

.water {
  background-color: #4592C4;
  padding: 6px 25px;
}